* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: default;
    text-decoration: none;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #444;
}

#grid-container {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 30px 1fr;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
}

a.bodylink {
    text-decoration: underline;
    color: #5C6D73;
}

a.bodylink:hover {
    opacity: .5;
}

p {
    color: #444;
    line-height: 15px;
    margin-bottom: 15px;
}

ul.bodylinklist {
    list-style: none;
    line-height: 15px;
    margin-bottom: 15px;
}

nav {
    grid-column: 1 / span 4;
    border-bottom: 1px solid #ccc;
    line-height: 30px;
}

.andrew-site {
    color: #444;
    margin-left: 8px;
    display: inline;
}

nav ul {
    float: right;
  }
  
nav ul li {
    display: inline;
}

nav ul li a#endlink {
    margin: 0;
}

nav ul li a.toplink {
    color: #444;
    padding: 8px 8px 7px 8px;
    margin: 0 -4px 0 0;
    border-left: 1px solid #ccc;
}

nav ul li a.toplink:hover {
    background-color: #f7f7f7;
}

.section1 {
    margin: 40px 20px 40px 40px;
}

.section2, .section3 {
    margin: 40px 20px 40px 0;
}

.section4 {
    margin: 40px 40px 40px 0;
}

/* Responsive layout */
@media (max-width: 800px) {
    #grid-container {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 154px 1fr;
    }

    nav {
        border-bottom: none;
    }

    nav ul {
        float: none;
      }

    nav ul li a.toplink {
        padding: 0 0 0 8px;
        display: block;
        line-height: 30px;
        margin-left: 0px;
        border-left: none;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        margin: -1px 0 0 0;
    }

    nav ul li a#endlink {
        margin-top: -1px;
    }

    nav ul li#endlink {
        margin-top: -1px;
    }
}

@media (max-width: 600px) {
    #grid-container {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 154px;
    }

    nav {
        border-bottom: none;
        grid-column: 1;
    }

    .section1, .section2, .section3, .section4 {
        margin: 0 10px 0 10px;
        width: 280px;
    }

    .section1 {
        margin-top: 10px;
    }

    .section4 {
        margin-bottom: 10px;
    }
}